@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Hind', sans-serif; */
.background {
    background: rgb(47, 65, 48);
    background: radial-gradient(circle, #2F4130 0%, #252F2A 35%, #171C1E 100%);
    min-height: 100vh;
}

.sqr-btn1 {
    border: 2px solid #E18837;
    background-color: #804C11;
    -webkit-filter: drop-shadow(5px 5px 5px #314035);
    filter: drop-shadow(5px 5px 5px #314035);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    color: white;
}

.sqr-btn2 {
    border: 2px solid #888888;
    background-color: #252F2A;
    -webkit-filter: drop-shadow(5px 5px 5px #314035);
    filter: drop-shadow(5px 5px 5px #314035);
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    color: white;
}


.logo {
    width: 250px;
    margin-bottom: 70px;
    -webkit-filter: drop-shadow(5px 5px 5px #314035);
    filter: drop-shadow(5px 5px 5px #314035);
}

/* 
#314035 Dark Green
#698C75 Light Green
#46594B Mid Green
#F2EFDF Off White
#F2A74B Orange 
*/