@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Cinzel+Decorative:wght@400;700;900&family=Forum&family=Girassol&family=Gravitas+One&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Hind', sans-serif; */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: 1px solid #ccc;
    outline: none;
    background-color: #fff;
}

input[type="checkbox"]:checked {
    background-color: #F2A74B;
    border-color: #F2A74B;
}

input[type="checkbox"]:hover {
    cursor: pointer;
}

.text-title {
    font-size: 15px;
    color: #F2EFDF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.direction {
    max-width: 180px;
    text-align: center;
    margin-bottom: 2px;
    color: white;
}

.sort {
    max-width: 180px;
    text-align: center;
    margin-bottom: 2px;
    color: white;
}

.sort-direction {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(70, 89, 75);
    background: radial-gradient(circle, rgba(70, 89, 75, 1) 5%, rgba(49, 64, 53, 1) 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.sort-order {
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(70, 89, 75);
    background: radial-gradient(circle, rgba(70, 89, 75, 1) 5%, rgba(49, 64, 53, 1) 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.filter {
    max-width: 400px;
    border: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(70, 89, 75);
    background: radial-gradient(circle, rgba(70, 89, 75, 1) 5%, rgba(49, 64, 53, 1) 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.filter:active,
.filter:focus {
    color: white;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-top-color: #000;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    animation: spin 1s linear infinite;
    margin-right: 1rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

/* .ui {
    max-width: 400px;
} */
.orange-text {
    color: #F2A74B;
}

.xs-text {
    font-size: 9px;
    color: #F2EFDF;
    font-family: 'Hind', sans-serif;
}

.s-text {
    font-size: 15px;
    color: #F2EFDF;
    font-family: 'Hind', sans-serif;
}

.sm-text {
    font-size: 20px;
    color: #F2A74B;
    font-family: 'Hind', sans-serif;
}

.m-text {
    font-size: 30px;
    color: #F2EFDF;
    font-family: 'Hind', sans-serif;

}


.l-text {
    font-size: 50px;
    color: #F2EFDF;
    font-family: 'Hind', sans-serif;
}

.xl-text {
    font-size: 60px;
    color: #F2EFDF;
    font-family: 'Hind', sans-serif;
}

.box {
    /* background-color: #314035; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(70, 89, 75);
    background: radial-gradient(circle, rgba(70, 89, 75, 1) 5%, rgba(49, 64, 53, 1) 100%);
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.circle-btn {
    /* remove !important */
    height: 50px !important;
    width: 50px !important;
    border: none;
    background-color: #698C75;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 5px 5px, rgba(0, 0, 0, 0.09) 0px 5px 5px, rgba(0, 0, 0, 0.09) 0px 5px 5px;
    font-family: 'Montserrat', sans-serif;
}

.dec {
    width: 90%;
    display: flex;
    justify-content: center;
}


.sqr-btn1 {
    border: 2px solid #E18837;
    background: #804C11;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    font-weight: bold;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sqr-btn2 {
    border: 2px solid #888888;
    background-color: #252F2A;
    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset; */
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 3px 0px 3px 0px;
    font-size: 15px;
    font-weight: 400;
}

.names {
    padding: 3px;
}

.sqr-btn2:active,
.sqr-btn2:focus {
    /* background-color: #F2A74B; */
    background: rgb(242, 167, 75);
    background: radial-gradient(circle, rgba(242, 167, 75, 1) 20%, rgba(171, 115, 47, 1) 100%);
    color: #F2EFDF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.45) inset;
}

.card .table {
    color: #F2EFDF;
    font-size: 14px;
    background: transparent;
    background-color: transparent;
    margin-bottom: 0.5rem;
    table-layout: fixed;
    width: 100%;
}

.card .table thead th,
.card .table tbody td,
.card .table tbody th {
    border-color: rgba(242, 239, 223, 0.2);
    color: #F2EFDF;
    background-color: transparent;
    text-align: center;
    padding: 0.15rem 0.1rem;
    vertical-align: middle;
}

.card .table tbody tr {
    padding: 0.25rem 0;
}

.card .table tbody tr.par-row td {
    color: rgba(242, 239, 223, 0.5);
    font-size: 12px;
    padding-top: 0.35rem;
    padding-bottom: 0.35rem;
}

.card .table tr {
    background-color: transparent;
}

.card .table-striped tbody tr:nth-of-type(odd) {
    background-color: transparent;
}

.card .table-hover tbody tr:hover {
    background-color: rgba(242, 239, 223, 0.1);
}

.card {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background: rgb(70, 89, 75);
    background: radial-gradient(circle, rgba(70, 89, 75, 1) 5%, rgba(49, 64, 53, 1) 100%);
    max-width: 400px;
    overflow: hidden;
    min-height: 200px;
}

.score-type {
    text-align: end;
}

.score-total {
    font-size: 80px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    text-align: end;
    margin-top: -22px;
}

.course-name {
    font-size: 15px;
    color: #F2EFDF;
    font-family: 'Montserrat', sans-serif;
}

.xs-text-mont {
    font-size: 9px;
    color: #F2EFDF;
    font-family: 'Montserrat', sans-serif;
}

.s-text-mont {
    font-size: 12px;
    color: #F2EFDF;
    font-family: 'Montserrat', sans-serif;
}

.sm-text-mont {
    font-size: 20px;
    color: #F2EFDF;
    font-family: 'Montserrat', sans-serif;
}

.sm-text-score {
    font-size: 20px;
    color: #F2A74B;
    font-family: 'Montserrat', sans-serif;
}

.m-text-mont {
    font-size: 30px;
    color: #F2EFDF;
    font-family: 'Montserrat', sans-serif;
}

.l-text-mont {
    font-size: 50px;
    color: #F2EFDF;
    font-family: 'Montserrat', sans-serif;
}

.xl-text-mont {
    font-size: 60px;
    color: #F2EFDF;
    font-family: 'Montserrat', sans-serif;
}

/* Scorecard Container */
.scorecard-container {
    width: 100%;
    padding: 0.5rem;
    background: transparent;
}

/* Score Classification Styling */
.score {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    font-weight: 600;
    color: #F2EFDF;
}

.score.eagle {
    border: 4px double #F2EFDF;
    border-radius: 50%;
    box-sizing: border-box;
}

.score.birdie {
    border: 2px solid #F2EFDF;
    border-radius: 50%;
    box-sizing: border-box;
}

.score.par {
    /* No special styling for par */
}

.score.bogey {
    border: 2px solid #F2EFDF;
    box-sizing: border-box;
}

.score.double-bogey {
    border: 4px double #F2EFDF;
    box-sizing: border-box;
}

.round-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.round-content {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.round-stack {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px;
    height: 100%;
    gap: 0;
    padding: 55px 0 85px 0;
}

/* 
#314035 Dark Green
#698C75 Light Green
#46594B Mid Green
#F2EFDF Off White
#F2A74B Orange 
*/